@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Platforma za pracenje ispita</h1>
    <p class="lead">Dobrodosli. Mozete pratiti i upisivati ispite.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Studenti</h2>
        <p>
            U ovom odeljku mozete pratiti trenutne studente i dodati novog studenta.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Predmeti</h2>
        <p>U ovom odeljku mozete pratiti trenutne predmete i dodati novi predmet.</p>
    </div>
    <div class="col-md-4">
        <h2>Ispiti</h2>
        <p>U ovom odeljku mozete pratiti trenutne ispite i dodati novi ispit.</p>
    </div>
</div>